tmp
.idea
.yardoc
node_modules
bower_components
config/config.rb
public/lib
public/js
public/css
public/cache
public/views
public/index.html
public/config/config.js
config/templates
config/prod.rb
config/devel.rb
config/config_production.rb
config/config_staging.rb
data
doc
log/proc.log
/public/index.html
/log/capistrano.log
